<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("bootstrap-4.5.3-dist/css/bootstrap.min.css") }}">
            <link rel="stylesheet" href="{{ asset("styles/style.css") }}">
            <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset("js/test.js") }}"></script>

        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('hone') }}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gadgets') }}">GADŻETY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('piece') }}">SZTUKA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('autographs') }}">AUTOGRAFY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('moments') }}">CHWILE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('auction') }}">AUKCJE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('aboutas') }}">O NAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">KONTAKT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}
    </body>
</html>
